/*//////////////////////////////////
////////////// GENERAL /////////////
//////////////////////////////////*/

h1,h2,h3,h4,h5,h6,#avatarWrapper>p{
  font-family: 'Open Sans', !important;
}
body{
  font-family: 'Open Sans', !important;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 60vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
.hide{
  display: none;
  visibility: hidden;
}

#app{
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  background-color: #3d3d3d;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menuItem:hover{
  background-image: linear-gradient(315deg, #60a3bc 0%, #82ccdd 74%);
  color:#fff;
}

.menuItemGreen{
  color:#27ae60;
}

.menuItemRed{
  color:#e74c3c;
}

.menuItemRed:hover{
  background-image: linear-gradient(315deg, #b33939 0%, #ff7979 74%);
  color:#fff;
}

.menuItemGreen:hover{
  background-image: linear-gradient(315deg, #009432 0%, #2ecc71 74%);
  color:#fff;
}

.menuItemActive{
  background-image: linear-gradient(315deg, #0a3d62 0%, #60a3bc 74%);
  color:#fff;
}

.firstWord{fill:none;stroke-width:2;stroke-miterlimit:2;}
.secondWord{fill:none;stroke-width:2;stroke-miterlimit:2;}
.st0c{stroke:#1e73be;stroke-dasharray:1600;stroke-dashoffset:0;-webkit-animation:dashs 3s linear forwards;-o-animation:dashs 3s linear forwards;-moz-animation:dashs 3s linear forwards;animation:dashs 3s linear forwards;}
.st1c{stroke:#519bdb;stroke-dasharray:400;stroke-dashoffset:0;-webkit-animation:dashl 3s linear forwards;-o-animation:dashl 3s linear forwards;-moz-animation:dashl 3s linear forwards;animation:dashl 3s linear forwards;}
.st0{stroke:#1e73be;}
.st1{stroke:#519bdb;}
@-webkit-keyframes dashs {
  from {stroke-dashoffset:2000}
  to{stroke-dashoffset:0}
}
@-webkit-keyframes dashl {
  from {stroke-dashoffset:400}
  to{stroke-dashoffset:0}
}

.ui.message p {
  margin: 0.2em !important;
}

.gridLabel{
  justify-self:end;
  font-weight: 900;
}

.gridValue{
  justify-self:start;
}

.labelBoard{
  color:#505050;text-align: end
}
.valueBoard{
  font-weight: bold;text-align: start
}

/*//////////////////////////////////
////////////////////////////////////
//////////// DATEPICKER ////////////
////////////////////////////////////
//////////////////////////////////*/

.datePickerTopLayout{
  grid-gap: 16px;
  display: grid;
  grid-template-columns: 160px 160px 1fr;
  grid-template-rows: 60vh 80px;
  place-self: stretch;
  padding: 16px;
  color:#2c3e50;
  font-size: 1.4em;
}

.datePickerTopLayout > .raised{
  border-radius: 8px;
  background-color: #ecf0f1;
}

.datePickerSelectedLayout{
  place-self: stretch center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  color: #fff;
  padding: 0 24px;
  background-color: #3498db;
  font-size: 1.8em;
}

.datePickerYearsLayout{
  place-self: stretch;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9,1fr);
  grid-row-end: span 2;
}

.datePickerMonthsLayout{
  place-self: stretch;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12,1fr);
  grid-row-end: span 2;
}

.datePickerDaysLayout{
  place-self: stretch;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: 60px repeat(6,1fr);
}

.yearDPTile{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
}

.yearDPTile.scroll{
  font-size: 1.8em;
}

.yearDPTile.scroll:hover{
  font-size: 2em;
}

.monthDPTile{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
}

.dowLabel{
  text-align: center;
  color: #95a5a6;
}

.dayDPTile{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 8px;
}

.yearDPTile:not(:last-child){
  border-bottom: 1px solid #bdc3c7;
}

.monthDPTile:not(:last-child){
  border-bottom: 1px solid #bdc3c7;
}

.yearDPTile:hover{
  font-size:1.2em;
  color: #2980b9;
  background-color: #fff;
  cursor: pointer;
}

.monthDPTile:hover{
  font-size:1.2em;
  color: #2980b9;
  background-color: #fff;
  cursor: pointer;
}

.dayDPTile:hover{
  font-size:1.2em;
  color: #2980b9;
  background-color: #fff;
  background-color: #ecf0f1;
  cursor: pointer;
}

.dayDPTile.scroll{
  font-size: 1.8em;
}

.dayDPTile.scroll:hover{
  font-size: 2em;
}

.yearDPTile.selected{
  color: #fff;
  background-color: #3498db;
}

.monthDPTile.selected{
  color: #fff;
  background-color: #3498db;
}

.dayDPTile.selected{
  color: #fff;
  background-color: #3498db;
}

.dayDPTile.today{
  border: 4px solid #3498db;
}