:root{
  font-size: 12px;
  /*--light:#bdc3c7;
  --lighter:#ecf0f1;

  --darkerest:#090909;
  --darkerer:#1a1a1a;
  --darkest:#1e1e1e;
  --darker:#23272a;
  --dark:#2c2f33;*/

  --backwall:#C0C0C0;
  --darker:#DCDCDC;
  --panel:#F5F5F5;
  --element:#FFFFFF;
  --text:#484848;
  --textActive:#202020;

  /*--backwall:#122333;
  --darker:#0D1E2E;
  --panel:#172939;
  --element:#21374a;*/

  --darkerFocused:#152636;
  --panelFocused:#1F3141;
  --elementFocused:#293F52;
  --focused:#1e384e;
  --active:#3498db;
  --success:#2eac68;
  --darkSuccess:#13723f;  
  --danger:#ff7675;
  --peach:#fd8f6a;
  --warning:#fdcb6e;
  --snow:#ecf0f1;
  --cinder:#b2bfca;

  --transition-speed:600ms;
  
}

/*//////////////////////////////////
////////////// GENERAL /////////////
//////////////////////////////////*/

h1,h2,h3,h4,h5,h6,#avatarWrapper>p{
  font-family: 'Montserrat', sans-serif !important;
}
body{
  font-weight: 400;
  /*font-family: 'Open Sans', !important;*/
  overflow: hidden;
  font-family: 'Montserrat', sans-serif !important;
}
#app {
  background-image: linear-gradient(170deg, #b8c6db 0%, #f5f7fa 74%);
}
.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 60vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
.hide{
  display: none;
  visibility: hidden;
}

#app{
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.home-top-container{
  grid-column-end:span 2;
  display:grid;
  position: absolute;
  height:100vh;
  width:100vw;
  top:0;
  right: 0;
  grid-template-columns:720px 1fr;
  justify-content:center;
  background-image:url('/res/wall/duo1.png');
  background-attachment: fixed;
  background-size: cover;
}

.home-top-container h1{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4ch;
  width: 100%;
  margin: 32px 8px;
  font-size: 3.6em;
  color: #ecf0f1;
}

.home-top-container .ui.form .field>label{
  color: #ecf0f1 !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.firstWord{fill:none;stroke-width:2;stroke-miterlimit:2;}
.secondWord{fill:none;stroke-width:2;stroke-miterlimit:2;}
.st0c{stroke:#1e73be;stroke-dasharray:1600;stroke-dashoffset:0;-webkit-animation:dashs 3s linear forwards;-o-animation:dashs 3s linear forwards;-moz-animation:dashs 3s linear forwards;animation:dashs 3s linear forwards;}
.st1c{stroke:#519bdb;stroke-dasharray:400;stroke-dashoffset:0;-webkit-animation:dashl 3s linear forwards;-o-animation:dashl 3s linear forwards;-moz-animation:dashl 3s linear forwards;animation:dashl 3s linear forwards;}
.st0{stroke:#1e73be;}
.st1{stroke:#519bdb;}
@-webkit-keyframes dashs {
  from {stroke-dashoffset:2000}
  to{stroke-dashoffset:0}
}
@-webkit-keyframes dashl {
  from {stroke-dashoffset:400}
  to{stroke-dashoffset:0}
}

.ui.message p {
  margin: 0.2em !important;
}

.gridLabel{
  justify-self:end;
  font-weight: 900;
}

.gridValue{
  justify-self:start;
}

.labelBoard{
  color:#505050;text-align: end
}
.valueBoard{
  font-weight: bold;text-align: start
}

/*//////////////////////////////////
////////////////////////////////////
//////////// DATEPICKER ////////////
////////////////////////////////////
//////////////////////////////////*/

.datePickerTopLayout{
  grid-gap: 16px;
  display: grid;
  grid-template-columns: 160px 160px 1fr;
  grid-template-rows: 60vh 80px;
  place-self: stretch;
  padding: 16px;
  color:#2c3e50;
  font-size: 1.4em;
}

.datePickerTopLayout > .raised{
  border-radius: 8px;
  background-color: #ecf0f1;
}

.datePickerSelectedLayout{
  place-self: stretch center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  color: #fff;
  padding: 0 24px;
  background-color: #3498db;
  font-size: 1.8em;
}

.datePickerYearsLayout{
  place-self: stretch;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9,1fr);
  grid-row-end: span 2;
}

.datePickerMonthsLayout{
  place-self: stretch;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12,1fr);
  grid-row-end: span 2;
}

.datePickerDaysLayout{
  place-self: stretch;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: 60px repeat(6,1fr);
}

.yearDPTile{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
}

.yearDPTile.scroll{
  font-size: 1.8em;
}

.yearDPTile.scroll:hover{
  font-size: 2em;
}

.monthDPTile{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
}

.dowLabel{
  text-align: center;
  color: #95a5a6;
}

.dayDPTile{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 8px;
}

.yearDPTile:not(:last-child){
  border-bottom: 1px solid #bdc3c7;
}

.monthDPTile:not(:last-child){
  border-bottom: 1px solid #bdc3c7;
}

.yearDPTile:hover{
  font-size:1.2em;
  color: #2980b9;
  background-color: #fff;
  cursor: pointer;
}

.monthDPTile:hover{
  font-size:1.2em;
  color: #2980b9;
  background-color: #fff;
  cursor: pointer;
}

.dayDPTile:hover{
  font-size:1.2em;
  color: #2980b9;
  background-color: #fff;
  background-color: #ecf0f1;
  cursor: pointer;
}

.dayDPTile.scroll{
  font-size: 1.8em;
}

.dayDPTile.scroll:hover{
  font-size: 2em;
}

.yearDPTile.selected{
  color: #fff;
  background-color: #3498db;
}

.monthDPTile.selected{
  color: #fff;
  background-color: #3498db;
}

.dayDPTile.selected{
  color: #fff;
  background-color: #3498db;
}

.dayDPTile.today{
  border: 4px solid #3498db;
}

/*//////////////////////////////////
////////////// NAVBAR //////////////
//////////////////////////////////*/

.navbar{
  height: 100%;
  z-index: 1000;
  position: fixed;
  overflow-x: scroll;
  display: inline-block;
  background-color: var(--panel);
  box-shadow: 1px 0 5px black;
  transition: width 400ms ease;
}
.navbar:hover{
  width: 17rem;
}
.navbar-nav{
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--lighter);
  background-color: var(--darker);
  letter-spacing: 0.4ch;
  width: 100%;
  margin-bottom: 16px;
}
.logo .svg{
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
  width: 3rem !important;
  margin: 0 1rem !important;
}
.navbar:hover .nav-link-logo .svg{
  transform: rotate(-180deg);
  width: 2.5rem;
  margin: 0 1.75rem;
}
.nav-item{
  width: 100%;
  cursor: pointer;
  margin: 0;
}
.navbar .nav-item:last-child{
  margin-top: auto;
}
.nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed)
}
.nav-link svg g .fa-secondary{
  fill:#b5b5b5;
}
.nav-link-logo{
  filter: grayscale(0%) opacity(1) !important;
  justify-content: flex-end;
}
.nav-link:hover{
  background-color: var(--backwall);
  color: var(--textActive);
  filter: grayscale(0%) opacity(1);
}
.nav-link:hover svg g .fa-secondary{
  fill:#FFF;
}
.nav-link .svg{
  width: 3.2rem;
  margin: 0 0.9rem;
}
.link-text{
  display: none;
  font-weight: 400;
  color: var(--text);
  margin-left: 1rem;
}
.navbar:hover .link-text{
  display: block;
  margin-left: 0 1.5rem;
}
.pathPrimary,
.pathSecondary{
  transition: var(--transition-speed)
}

/*//////////////////////////////////
/////////// SVG DUOTONE ////////////
//////////////////////////////////*/

svg.gold g .fa-primary{
  fill:#ff9f43
}
svg.red g .fa-primary{
  fill:#ff6b6b
}
svg.teal g .fa-primary{
  fill:#22a6b3
}
svg.green g .fa-primary{
  fill:#2eac68
}
svg.blue g .fa-primary{
  fill:#3498db
}
/*svg g .fa-secondary{
  fill:#FFF
}*/
svg.warning g .fa-primary{
  fill:var(--warning)
}
svg.danger g .fa-primary{
  fill:var(--danger)
}
svg.success g .fa-primary{
  fill:var(--success)
}
svg.active g .fa-primary{
  fill:var(--active)
}
svg.peach g .fa-primary{
  fill:var(--peach)
}

/*//////////////////////////////////
/////// NAVBAR SOCIETE PICKER //////
//////////////////////////////////*/

.navbar-societe-picker-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  padding-left: 5rem;
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(8px);
}
.navbar-societe-picker{
  height: 100%;
  padding-top: 64px;
  width: 17rem;
  display: inline-block;
  background-color: var(--panel);
  box-shadow: 1px 0 5px black;
  transition: width 400ms ease;
  overflow-x: scroll;
}
.navbar-societe-picker .nav-item{
  margin: 4px 0;
}
.navbar-societe-picker .nav-link{
  margin: 4px 0;
}
.navbar-societe-picker .nav-link .svg{
  max-width: 54px;
  max-height: 54px;
}
.navbar-societe-picker .nav-link:hover svg{
  filter: grayscale(0%) opacity(1) !important;
}
.navbar-societe-picker .link-text{
  display: block;
  margin-left: 0 1.5rem;
}

/*//////////////////////////////////
///////////// LOG ITEM /////////////
//////////////////////////////////*/
.log-item{
  border-radius: 4px;
  transition: all 160ms ease-out;
}
.log-number{
  width: 64px;
  display: inline-block;
  font-size: 1.2rem;
}
.log-item:hover{
  font-size: 1.2rem;
  padding: 16px !important;
  background-color: rgba(0,0,0,0.1) !important;
}
.log-item:hover .header{
  color: var(--danger) !important;
}